<div class="container my-5">
        <ul class="steps">
            <li class="{{cart}}"><a href="/carts">Cart</a></li>
            <li class="{{checkout}}"><a href="/carts/checkout">Shipping Address</a></li>
            <li class="{{payment}}"><a href="/carts/payment">Payment</a></li>
        </ul>
    </div>