 <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">ORDER
                <span class="text-success">#47</span> DETAILS</h1>
        </div>
    </section>
    <div class="container mb-3">
        <div class="row equal">
            <div class="col">
                <div class="card" style="height:100%">
                    <div class="card-header">
                        Shipping Address
                    </div>
                    <div class="card-body">
                        <div class="card-text"> </div>
                        <div class="card-text"></div>
                        <div class="card-text"></div>
                        <div class="card-text"> -  - </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="height:100%">
                    <div class="card-header">
                        Ordered At
                    </div>
                    <div class="card-body">
                        <p class="card-text">7/21/2018, 1:16:49 PM</p>
                    </div>
                    <div class="card-header">
                        Payment Method
                    </div>
                    <div class="card-body">
                        <p class="card-text">COD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col">Product</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-right">Unit Cost</th>
    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="/images/book2.jpg" style="width:50px; height:50px" /> </td>
                    <td>Book 2</td>
                    <td>62.06723317815923</td>
                    <td>3</td>
                    <td class="text-right">$ 186.21</td>
    
                </tr>
                <tr>
                    <td>
                        <img src="/images/book4.jpg" style="width:50px; height:50px" /> </td>
                    <td>Book 4</td>
                    <td>21.532903361561175</td>
                    <td>3</td>
                    <td class="text-right">$ 64.59</td>
    
                </tr>
                <tr>
                    <td>
                        <img src="/images/book6.jpg" style="width:50px; height:50px" /> </td>
                    <td>Book 6</td>
                    <td>49.38176818271871</td>
                    <td>1</td>
                    <td class="text-right">$ 49.38</td>
    
                </tr>
    
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
    
                    <td class="text-right h6">Total Cost</td>
                    <td class="text-right h6">$300.18</td>
    
                </tr>
            </tbody>
        </table>
    
    </div>