 <!--Main-->
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">YOUR ORDER HISTORY</h1>
        </div>
    </section>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Datetime</th>
                    <th scope="col">Details</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">47</th>
                    <td>7/21/2018, 1:16:49 PM</td>
                    <td>
                        <a href="/users/order/1">Order details</a>
                    </td>
                    <td>$ 300.18</td>
                    <td>Processing</td>
                </tr>
                <tr>
                    <th scope="row">48</th>
                    <td>7/21/2018, 1:33:04 PM</td>
                    <td>
                        <a href="/users/order/2">Order details</a>
                    </td>
                    <td>$ 104.91</td>
                    <td>Processing</td>
                </tr>
            </tbody>
        </table>
    </div>